.tipo {
    
    margin: 5px;
  width: 120px;
    

  }

 .encuestadoras img {

height: 50px;
width: 100%;
margin-top: 10px;


  }

  .encuestadoras{
      color: black;
      font-size: 15px;
  }

  .principal {
padding-bottom: 30px;

  }

  .target > div {
    display:none;
}

.target > div:target{
    display:block;
}

img {
width: 600px;
height: 350px;

}

.target {

  padding-left: 100px;
  padding-top: 50px;
}