<div class="container-fluid linea pad-der">

  <h1>Conoce las Propuestas</h1>
  <div class="col-1">
    <hr>
  </div>
    <h3>Selecciona tus opciones</h3>
<div class= 'row'>
    <div class="col-3">
    <div id="checkboxes"> 
        <br>
        <h5>Candidatos</h5>
        <div class="col-11">
      <label for="chc1"> 
          <input name="Candidato" class="candidato" id="chc1" type="checkbox" value="Meade" />
          Meade
      </label>
      <label for="chc2"> 
          <input name="Candidato"  class="candidato" id="chc2" type="checkbox" value="AMLO" />
          AMLO
      </label>
      <label for="chc3"> 
          <input name="Candidato" class="candidato" id="chc3" type="checkbox" value="Anaya" />
          Anaya
      </label>
    </div> <br>


    <h5>Categoría</h5>
    <div class="col-11">
  <label for="x1"> 
      <input name="categoria" class="categoria" id="x1" type="checkbox" value="Propuestas" />
      Propuestas
  </label> <br>
  <label for="x2"> 
      <input name="categoria"  class="categoria" id="x2" type="checkbox" value="Campaña" />
      Campaña
  </label> <br>
  <label for="x3"> 
      <input name="categoria" class="categoria" id="x3" type="checkbox" value="Actores" />
      Actores
  </label> <br>
  <label for="x4"> 
    <input name="categoria" class="categoria" id="x4" type="checkbox" value="Entorno" />
    Entorno
</label>

<p style="font-size:15px">*Solamente la categoría de propuestas cuenta con Temática</p>
</div>

      
      <br> <h5>Temática</h5>

     <div class="col-10" style="overflow-y: scroll; height:200px;">
      <label for="chc9"> 
        <input name="tema" class="tema" id="chc9" type="checkbox" value="Administración Pública"/>
        Administración Pública
    </label> <br>

    <label for="chc5"> 
      <input name="tema" class="tema" id="chc5" type="checkbox" value="Corrupción" />
      Corrupción
  </label> <br>

    <label for="chc9"> 
      <input name="tema" class="tema" id="chc9" type="checkbox" value="Desarrollo Económico"/>
      Desarrollo Económico
  </label> <br>

  <label for="chc7"> 
    <input name="tema" class="tema" id="chc7" type="checkbox" value="Desarrollo Social"/>
    Desarrollo Social
</label> <br>
      <label for="chc6"> 
          <input name="tema" class="tema" id="chc6" type="checkbox" value="Educación"/>
          Educación
      </label>
      <br>
      
      <label for="chc8">
        <input name="tema" class="tema" id="chc8" type="checkbox" value="Género"/>
        Género
    </label> <br>

    <label for="chc8">
      <input name="tema" class="tema" id="chc8" type="checkbox" value="Medio Ambiente"/>
      Medio Ambiente
  </label> <br>

  <label for="chc8">
    <input name="tema" class="tema" id="chc8" type="checkbox" value="Política Exterior"/>
    Política Exterior
</label> <br>

<label for="chc8">
  <input name="tema" class="tema" id="chc8" type="checkbox" value="Salud"/>
  Salud
</label>
<br>
      <label for="chc6"> 
          <input name="tema" class="tema" id="chc6" type="checkbox" value="Seguridad"/>
          Seguridad
      </label>
     
    </div>
      <br>
      

      <button id="reset"   class="btn btn-info" >Reset</button>
     
    </div>
</div>

<div class="col-9">
    <div id="proposals"></div>

</div>
    
  </div>
    
      
</div>
