
#mapid {
<<<<<<< HEAD
	min-height: 700px;
=======
	min-height: 600px;
>>>>>>> 01bb528ffaa2de11a56ba139641e76ac748654f5
    width: 90%;
    
}

div.leaflet-popup-content > a {
 color : black;
}

.logo {
    height: 24px;
}

.target > div {
    display:none;
}

.target > div:target{
    display:block;
}

.fotos{
    height: 125px;
}

.partidos{
    height: 30px;
}

.legis {

<<<<<<< HEAD
    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
=======
    padding: 40px;
>>>>>>> 01bb528ffaa2de11a56ba139641e76ac748654f5
    
}