
#mapid {
	min-height: 600px;
    width: 90%;
    
}

div.leaflet-popup-content > a {
 color : black;
}

.logo {
    height: 24px;
}

.target > div {
    display:none;
}

.target > div:target{
    display:block;
}

.fotos{
    height: 125px;
}

.partidos{
    height: 30px;
}

.legis {


    padding-top: 140px;
    padding-left: 40px;
    padding-right: 40px;
}

.perfil{

    background-color: #f2f2f2;
    height: 500px;
    padding-top: 150px;
    overflow: scroll;
    padding: 30px;

}