.header {
    margin-top: 30px;
    margin-bottom: 30px;
}

#mapid {
	min-height: 580px;
    min-width: 100%;
}

.mapa {
    margin-top: 35px;
    margin-bottom: 35px;
}

.timeline {
    margin-bottom: 50px;
}

table {
    border-collapse: collapse;
}

table, tbody ,tr, td {
    border: none;
        
}

        tr:nth-child(even) {background: #CCC}
        tr:nth-child(odd) {background: #FFF}

.linea {
 
    padding-left: 8%;

}

 .logo {
    height: 200px;
    padding-right: 0;
 
}

.titulo {
    padding-top: 3%;
    padding-left: 4%;
}

.foto {
    width: 90%
}

.leg {
   
padding-bottom: 3%;
padding-left: 8%;
}

.title{
    margin-bottom: 2px;
}

.icon {
padding-right:2%; 
}

.padd {
    padding-top: 7%;
}

.pad-der {
    padding-right: 6%;
   
}

.tema-space{
    padding-left: 10px;
}