
 <div class="container-fluid  header">

  <div class= "row">


<div   class=" titulo  col-7">
      <h1>SEGUIMIENTO ELECTORAL</h1> 
      <div class="col-2">
      <hr>
    </div>
     
  

</div>

  


  </div>
 
</div>



<div class="container-fluid timeline">

  <div class= "row">


<div class=" lineas col-lg-9 col-md-9 col-sm-12">
  <div id='timeline-embed' style="width: 100%; height: 800px" ></div>

  <!-- <div id='timeline-anaya' style="width: 100%; height: 800px"></div> -->
</div>

<div class="  amlo scol-lg-3 col-md-3 col-sm-8">
      <div class="row">
          <div class="col-3">

              <img class="foto" src="https://pbs.twimg.com/profile_images/949504802945343489/b2mz8yOJ_400x400.jpg">

          </div>
      <div class="row">
          <div class="col-12">
                  <p class= "title"> <b> Todos por México <br>
                      José Antonio Meade</b></p>
          </div>
              <div class="col-8">
                  <div class=" leg row">
                      <img class="icon" src="https://i.imgur.com/JIQnSEx.png"> Entorno
                  </div>
                  <div class=" leg row">
                       <img class="icon" src="https://i.imgur.com/jWQQQY1.png"> Campaña
                  </div>
                  <div class=" leg row">
                      <img class="icon" src="https://i.imgur.com/6pKqN8a.png"> Actores
                  </div>

              </div>

          </div>
      </div>
      <div class=" padd row">
              <div class="col-3">
  
                  <img class="foto" src="https://pbs.twimg.com/profile_images/941387100095635456/CmULmyyk_400x400.jpg">
  
              </div>
          <div class="row">
              <div class="col-12">
                      <p class= "title">  <b> Juntos Haremos Historia <br>
                          Andrés Manuel <br> López Obrador</b></p>
                  
              </div>
                  <div class="col-8">
                      <div class=" leg row">
                          <img class="icon" src="https://i.imgur.com/TNn8sGO.png"> Entorno
                      </div>
                      <div class=" leg row">
                           <img class="icon" src="https://i.imgur.com/S9RVwJo.png"> Campaña
                      </div>
                      <div class=" leg row">
                          <img class="icon" src="https://i.imgur.com/t46Q6PE.png"> Actores
                      </div>
  
                  </div>
  
              </div>
          </div>

          <div class=" padd row">
                  <div class="col-3">
      
                      <img class="foto" src="https://pbs.twimg.com/profile_images/696899956712435712/IPsP1eSj_400x400.jpg">
      
                  </div>
              <div class="row">
                  <div class="col-12">
                          <p class= "title"> <b> Por México al Frente <br>
                              Ricardo Anaya Cortés</b></p>
                      
                  </div>
                      <div class="col-8">
                          <div class=" leg row">
                              <img class="icon" src="https://i.imgur.com/zRCKMBT.png"> Entorno
                          </div>
                          <div class=" leg row">
                               <img class="icon" src="https://i.imgur.com/izcIi9p.png"> Campaña
                          </div>
                          <div class=" leg row">
                              <img class="icon" src="https://i.imgur.com/IqLe1Q0.png"> Actores
                          </div>
      
                      </div>
      
                  </div>
              </div>
              <div class=" padd row">
                      <div class="col-3">
          
                         <!-- <img class="foto" src="https://pbs.twimg.com/profile_images/941387100095635456/CmULmyyk_400x400.jpg">-->
          
                      </div>
                  <div class="row">
                      <div class="col-12">
                              <p class= "title">  <b> Otros
                                  </b></p>
                          
                      </div>
                          <div class="col-8">
                              <div class=" leg row">
                                  <img class="icon" src="https://i.imgur.com/Me2bJCH.png"> Encuesta
                              </div>
                              <div class=" leg row">
                                   <img class="icon" src="https://i.imgur.com/aEmpsxo.png"> Independiente
                              </div>
                           
          
                          </div>
          
                      </div>
                  </div>
</div>
